body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.col-md-5 {
  margin-top: 100px !important;
}
h1 {
  font-weight: bold !important;
}
input {
  border: 2px solid black !important;
  /* Now,to bring the add button to same line of input field  */
  display: inline !important;
  /* It won't work until we pot width to it */
  width: 70% !important;
}
i {
  color: red;
}
p {
  font-weight: bold !important;
  display: inline !important;
  margin: 10px;
}
